@import "../../global.scss";

.sell{
    display: flex;
    flex-direction: column;
    width: 100%;

    .section-wrapper {
        margin: 20px 0;
        padding: 10px;
        border: solid 1px $secondaryColor;
        border-radius: 30px;
        width: 100%;
        color: $secondaryColor;

        .container { 
            display: flex;
            overflow-x: auto;
        }
        
        .selected-product {
            display: flex;
            // justify-content: center;
            // align-items: center;
            font-size: 20px;

            h2{
                margin-top: 15px;
                margin-right: 10px;
            }
        }

        .field-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 10px;
            font-size: $contentSize;
            

            .field{
                font-size: inherit;
                display: flex;
                align-items: center;
                margin: 5px;

                input{
                    border: none;
                    border: 2px solid $secondaryColor;
                    font-size: inherit;
                    margin: 0 10px 5px 0;
                }

                h3{
                    font-size: inherit;
                    margin-right: 10px;
                }
                
                h2{
                    color: $mainColor;
                }

                .price-tag{
                    color: $mainColor;
                    margin-right: 5px;
                    margin-bottom: 5px;
                    padding: 7px;
                    border-radius: 20px;
                    border: 1px solid $mainColor;
                }
            }

            
            .order-status-wrapper {
                width: 100%;
                .order-status{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                    .btn-wrapper{
                        margin-top: 30px;
                        display: flex;
                        justify-content: center;

                        .btn{
                            min-width: 200px;

                            .refund{
                                color: $tertiaryColor;
                            }
                        }
                    }
                }
            }
        }
    
        .btn {
            margin-left: 13px;
            margin-bottom: 10px;
        }
    }

}

.deadline-schedule {
    display: flex;
    flex-direction: column;
    .text-box{
        display: flex;
        flex-direction: column;

        .deadline{
            font-size: 13px;
            color: $tertiaryColor;
            font-weight: 600;
            padding: 2px;
            border: $tertiaryColor solid 1px;
            margin: 0 auto;
            display: block;
            margin-bottom: 5px;
        }
    
        .icon {
            color: $primaryColor;
        }
    }

    
    span{
        color: $mainColor;

        strong{
            color: $primaryColor;
            margin-bottom: 20px;
        }
    }
}
