$mainColor: black;
$background: white;
$primaryColor: rgb(126, 161, 255);
$primaryColorFaded: rgba(111, 0, 255, 0.5);
$secondaryColor: rgb(111, 0, 255);
$secondaryColorFaded: rgba(255, 129, 56, 0.55);
$contentSize: 16px;

//topbar
$topBarBackgroundColor: rgb(150, 45, 182);
$topBarFontColor: white;

//interactivity

//page config
$maxPageWidth: 1110px;
$minPageWidth: 720px;

h1 {
    color: $secondaryColor;
    width: 100%;
    font-weight: 400;
    font-size: 50px;
    // font-family: 'Roboto Mono', sans-serif;s
}
