$mainColor: black;
$background: white;
$primaryColor: #FF7850;
$primaryColorFaded: rgba(254,121,78, 0.5);
// $primaryColor: rgb(0, 164, 240);
// $secondaryColor: rgb(111, 0, 255);
$secondaryColor: rgb(118, 3, 153);
// $secondaryColorFaded: rgba(111, 0, 255, 0.5);
$secondaryColorFaded: rgba(118, 3, 153, 0.5);

$tertiaryColor: $primaryColor;
$contentSize: 16px;

//topbar
$topBarBackgroundColor: $secondaryColor;
$topBarFontColor: white;

//interactivity

//page config
$maxPageWidth: 1110px;
$minPageWidth: 720px;

h1 {
    color: $secondaryColor;
    width: 100%;
    font-weight: 400;
    font-size: 50px;
    // font-family: 'Roboto Mono', sans-serif;s
}

.btn{
    &:hover{
        border: 1px solid $primaryColor;
        color: $primaryColor;
    }
}

.no-result {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    h2{
        font-size: 70px;
        font-weight: 200;
        color: $secondaryColor;
    }
}